@import 'core/reset';

.header {
  background-color: #BC5300;
  height: 18rem;
  .logo_er{
    height: 18rem;
    width: 15rem;
    margin-left: 7rem;
  }
  .hiddenSlogan {
    display: none;
  }
  .headerSquare {
    background-color: rgb(54, 53, 53);
    height: 5rem;
    width: 5rem;
    border: #FFFEEA solid 1px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .navigationDiv {
    .iconburger {
      color: #FFFEEA;
      font-size: 3.5rem;
      margin: 0.7rem 0rem 0rem 0.7rem;
    }
    display: flex;
    flex-direction: column;
    width: 5rem;
    .navBar {
      padding-top: 0.5rem;
      display: flex;
      flex-direction: column;
      background-color: rgb(54, 53, 53);
      width: 5rem;
      gap: 0.5rem;
      height: 8rem;
      position: absolute;
      top: 5rem;
      left: 0rem;
      border: solid 1px #FFFEEA;
      .linkNav {
        margin-left: 0.2rem;
        font-size: 1.2rem;
        text-decoration: none;
        color: #FFFEEA;

      }
    }
   }
  }

  @import 'core/media';